#contato{
    color: rgb(187, 106, 241);
    font-family: monospace;
    font-size: 30px;
    margin-top: 200px;
    font-size: 70px;
    text-align: center;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.ab:hover{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    width:  300px;
    height: 300px;
}