#contatos{
    color: rgb(187, 106, 241);
    font-family: monospace;
    margin-top: 150px;
    font-size: 70px;
    text-align: center;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ima:hover{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    width:  400px;
    height: 400px;
}

.imag:hover{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    width:  270px;
    height: 270px;
}

.ima{
    width: 300px;
    height: 300px;
}


.imag{
    width: 180px;
    height: 180px;
}