.imagem {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 650px;
}

#sobre-mim{
    font-family: monospace;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre{
    color:  rgb(187, 106, 241);
   font-size: 70px;
   margin-bottom: 70px;
   margin-top: 200px;
}

.sobreMim{
    margin: 0px 15px 0 15px;
    text-align: center;
    color: black;
}










