* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: white;
}

nav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: monospace;
    margin-top: 20px;
    align-items: center;
}

.inicio {
    font-size: 50px;
    font-weight: 700;
    color: black;
    margin-top: 40px;
}

.inicio:hover {
    color: rgb(187, 106, 241);
}

a {
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: end;
}

.menu li a:hover {
    color: rgb(187, 106, 241);
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.animado {
    font-size: 110px;
    color: rgb(187, 106, 241);
    margin-top: 250px;
    font-family: monospace;
    margin-left: 20px;
    text-align: center;
}

.animado span {
    position: relative;
}

.animado span::before {
    content: "";
    color: rgb(187, 106, 241);
    animation: mensagem 35s infinite;
}

.animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid white;
    right: -10px;
    animation: cursor .8s infinite, digitar 35s steps(80) infinite;
    width: calc(100% + 18px);
    background-color: white;
}

@keyframes digitar {

    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 18px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid black;
    }
}

@keyframes mensagem {

    0%,20% {
        content: "";
    }

    21%,40% {
        content: "Meu nome é Alissa Gabriel";
    }

    41%,60% {
        content: "Estudo na Fatec-Jahu";
    }

    61%,80% {
        content: "Estou cursando DSM";
    }

    81%,100% {
        content: "";
    }
}

button:hover {
    background-color: rgb(187, 106, 241);
    cursor: pointer;
    color: black;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(187, 106, 241);
    border-radius: 10px;
    border: 3px solid black;
}

.inicio2 {
    font-size: 50px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    padding-top: 30px;
    padding-left: 50px;
}

.inicio2:hover {
    color: rgb(187, 106, 241);
}

.copy {
    font-size: 20px;
    text-align: center;
}

.github {
    width: 80px;
    height: 80px;
    margin-right: 28px;
    margin-top: 2px;
}

.gmail {
    width: 55px;
    height: 55px;
    margin-right: 28px;
    margin-top: 2px;
}

.github:hover {
    width: 150px;
    height: 150px;
}

.gmail:hover {
    width: 100px;
    height: 100px;
}

.menu1 {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-right: 40px;
}

.menu1 li {
    padding-left: 30px;
}

.menu2 {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.menu2 li a:hover {
    color: rgb(187, 106, 241);
}

.menu2 li {
    padding-left: 30px;
}

.menu2 li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

