#projeto {
    color: rgb(187, 106, 241);
    font-family: monospace;
    margin-top: 150px;
    font-size: 70px;
    margin-left: 20px;
    text-align: center;
}

.projetos1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card1,
.card2,
.card3 {
    padding: 40px;
}

.card1 img,
.card2 img,
.card3 img {
    overflow: hidden;
    clear: both;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
    width: 300px;
    height: 300px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card1:hover img,
.card2:hover img,
.card3:hover img {
    scale: 1.4;
}

figcaption {
    background-color: #222;
    border-radius: 10px;
    color: #fff;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
}